.container{
    -js-display: flex;
    display: flex;
    flex-wrap: wrap;

  }
  .item{
    flex: 1 0 150px;
    height: 200px;
    background-color: #f0f;
    border:solid 1px #000;
    margin: 5px;
  }

  .content1 , .content3 , .content5{
    background-color: #ff0;
  }