body {
    margin: 0px;
    height: 100%;
    
    /* font-family: Georgia, serif; */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden !important;
}

.edit-workspace {
    display: flex;
    height: inherit;
    flex-flow: column;
}

.resources-top {
    display: flex;
    justify-content: space-between;
}

.resources-title {
    font-size: 2em;
    font-weight: bolder;
    padding-top: 15px;
}

.upload-controls {
    padding: 1em;
}

.top-view {
    /* position: absolute; */
    display: flex;
    flex: 1;
    width: 100%;
    background: linear-gradient(0deg, rgba(179,191,184,1) 0%, #e4e4e4 2%);
}

.resources-list {
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #d3d3d3;
    flex: 1.8;
    display: inline-block;
    position: relative;
    transition: all 0.2s;
    color: #222222;
}

.preview-player-wrapper {
    border: 1px solid black;
    background-color: #222222;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-bottom-controls{
    position: absolute;
    display: flex;
    bottom: 51%;
    width: 45.4vw;
    justify-content: space-around;
    align-items: center;
}

.preview-player-controls {
    position: relative;
    backdrop-filter: blur(35px);
    background-blend-mode: multiply;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 0px;
    animation: appear 0.4s;
}

.preview-input-title {
    position: absolute;
    top: 1.5%;
    background: none;
    border: none;
    font-size: large;
    text-align: center;
    color: #e4e4e4;
}

.preview-input-title:focus {
    outline-width: 0;
    border: 0.5px solid #d3d3d3;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.preview-time {
    width: 100px;
    text-align: r;
}


svg:hover {
    cursor: pointer;
}

.preview-start-rendering {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: none;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    position: absolute;
    top: 1.5%;
    right: 1%;
    color: #e4e4e4;
}

.preview-controll-button {
    margin: 5px;
    border: none;
    background: none;
}

.preview-back {

}

.preview-play {

}

.preview-pause {
}

.preview-forward {

}

@media screen and (min-height: 900px) and (max-height: 1080px) {
    .preview-player {
        height: 75% !important;
    }

    .preview-input-title {
        top: 2.5%;
    }
    
    .preview-start-rendering {
        top: 2.5%;
    }
}

@media screen and (max-height: 900px) {
    .preview-player {
        height: 70% !important;
    }

    .preview-input-title {
        top: 2.5%;
    }
    
    .preview-start-rendering {
        top: 2.5%;
    }

}

.preview-player {
    width: 90%;
    height: 80%;
    background-color: #000000;
}

.bottom-view {
    background-color: #044343;
    /* background-color: #B3BFB8; */
    flex: 1;
}

.bottom-scrollable {
    height: 100%;
    overflow-x: none;
}

.tooltip-duration {
    position: absolute;
    /* width: 150px;
    height: 50px; */
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    display: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dragging-item {
    position: absolute;
    touch-action: none;
}

.timeline {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    width: 100%;
    display: inline-flex;
}

#timeline-canvas {
    top: 50%;
    position: absolute;
}

/*            item stylesheet              */

.item {
    position: relative;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    display: inline-block;
    height: 100px;
    min-width: 100px;
    background-color: white;
    cursor: pointer;
}

.timeline-item {
    position: relative;
    border: solid 1px #000;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #d9d9d9 16.67%, #000000 16.67%, #000000 33.33%, #fff 33.33%, #fff 50%, #d9d9d9 50%, #d9d9d9 66.67%, #000000 66.67%, #000000 83.33%, #fff 83.33%, #fff 100%);
    display: inline-block;
    height: 100px;
    min-width: 100px;
    animation: popwidth 0.5s;
    cursor: pointer;
}

#trim-modal {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    position: absolute;
    display: none;
}

#trim-modal:after {
    content: " ";
    background-color: #ccc;
    position: absolute;
    right: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    border-radius: 10px;
}

#trim-modal:before {
    content: " ";
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    border-radius: 10px;
}

#trim-modal-start-time {
    float: left;
    transform: translate(-15px, -25px);
}

#trim-modal-end-time {
    float: right;
    transform: translate(15px, -25px);
}

#trim-modal-done {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50px);
    bottom: 0;
    background-color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#context-menu {
	background-color:rgb(255, 255, 255);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width:100px;
	display:none;
	position: absolute;
    animation: fadedown 0.2s;
    transition: fadedown 0.2s;
}
#context-menu td button {
    font-size: medium;
    width: 95px;
	padding:2px;
    background: none;
    border: none;
	padding-left:5px;
    text-align: left;
}

#context-menu td button:hover {
    width: 95px;
	padding:2px;
    cursor: pointer;
    background: #d3d3d3;
    border: none;
	padding-left:5px;
    text-align: left;
}

#last-section {
    border-bottom: 1px solid black;
}

video {
    object-fit: cover;
}

@keyframes fadedown {
    from { opacity: 0; transform: scaleY(0.1); }
    to   { opacity: 1; transform: scaleY(1); }
}

/* Firefox < 16 */
@-moz-keyframes fadedown {
    from { opacity: 0; transform: scaleY(0.1); }
    to   { opacity: 1; transform: scaleY(1); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadedown {
    from { opacity: 0; transform: scaleY(0.1); }
    to   { opacity: 1; transform: scaleY(1); }
}

/* Opera < 12.1 */
@-o-keyframes fadedown {
    from { opacity: 0; transform: scaleY(0.1); }
    to   { opacity: 1; transform: scaleY(1); }
}

@keyframes fadein {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}

@keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes popwidth {
    from { transform: scaleX(0.5); }
    to   { transform: scaleX(1); }
}

/* Firefox < 16 */
@-moz-keyframes popwidth {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes popwidth {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes popwidth {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes pickup {
    from { }
    to   { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); transform: scale(1.15); }
}

video::-webkit-media-controls {
    display: none;
}

/* .container{
    -js-display: flex;
    display: flex;
    flex-wrap: wrap;

  }
  .item{
    flex: 1 0 150px;
    height: 200px;
    background-color: #f0f;
    border:solid 1px #000;
    margin: 5px;
  }

  .content1 , .content3 , .content5{
    background-color: #ff0;
  } */



.btn {
    display: flex;
    background: #e4e4e4;
    border: 1px solid #575d60;
    font-size: xx-small;
    line-height:normal;
    font-weight: 500;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn--toggle {
    height: fit-content;
    padding: 2px;
    border-radius: 50px;
    overflow: hidden;
    letter-spacing: 0.5px;
    color: #1a1a1a;
}

.toggle-elm {
    padding: 8px 12px;
    position: relative;
    z-index: 1;
}

.toggle-active {
    color: #e4e4e4;
}

  
.toggling-layer {
    position: absolute;
    z-index: 0;
    background: #1a1a1a;
    border-radius: 50px;
    transition: 0.3s;
}
  