body {
    margin: 0px;
    height: 100%;
    
    /* font-family: Georgia, serif; */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden !important;
}
/* Loadin modal */

.startup-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    left: 50%;
    transform: translateX(-50%);
    place-items: center;
    z-index: 100;
    backdrop-filter: blur(15px);
}

.skeleton {
    z-index: 100;
    color: #1a1a1a;
    width: 320px;
    text-align: right;
    border-radius: 15px;
    padding: 40px;
    padding-top: 20px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.skeleton .image,
.skeleton .line {
    background-image: linear-gradient(90deg, #e0e0e0 0px, #ededed 30px, #e0e0e0 60px);
    background-size: calc(320px + 100px);
    animation: refresh 2s infinite ease-out;
}
.skeleton .image {
    height: 150px;
}
.skeleton .line {
    height: 16px;
}
.skeleton .line:first-child {
    width: 50%;
}
.skeleton .line:last-child {
    width: 80%;
}

@keyframes refresh {
0% {
    background-position: calc(-100px);
}
40%, 100% {
    background-position: 320px;
}
}



/* End of loading modal */
.edit-workspace {
    display: flex;
    height: inherit;
    flex-flow: column;
}

.resources-top {
    display: flex;
    justify-content: space-between;
}

.resources-title {
    font-size: 2em;
    font-weight: bolder;
    padding-top: 15px;
}

.upload-controls {
    padding: 1em;
}

.top-view {
    /* position: absolute; */
    display: flex;
    flex: 1;
    width: 100%;
    background: linear-gradient(0deg, rgba(179,191,184,1) 0%, #e4e4e4 2%);
}

.resources-list {
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid #d3d3d3;
    flex: 1.8;
    display: inline-block;
    position: relative;
    transition: all 0.2s;
    color: #222222;
}

.preview-player-wrapper {
    border: 1px solid black;
    background-color: #222222;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-bottom-controls{
    position: absolute;
    display: flex;
    bottom: 51%;
    width: 45.4vw;
    justify-content: space-around;
    align-items: center;
}

.preview-top-controls{
    position: absolute;
    display: flex;
    top: 2%;
    width: 45.4vw;
    justify-content: space-around;
    align-items: center;
}

.preview-player-controls {
    position: relative;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    background-blend-mode: multiply;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 0px;
    animation: appear 0.4s;
}

.preview-input-title {
    position: relative;
    top: 1.5%;
    background: none;
    border: none;
    font-size: large;
    text-align: center;
    color: #e4e4e4;
}

.preview-input-title:focus {
    outline-width: 0;
    border: 0.5px solid #d3d3d3;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.preview-time {
    width: 100px;
    text-align: center;
}


svg:hover {
    cursor: pointer;
}

#preview-done {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: none;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    position: relative;
    top: 1.5%;
    right: 1%;
    color: #e4e4e4;
    cursor: pointer;
}

.preview-controll-button {
    margin: 5px;
    border: none;
    background: none;
}

.preview-back {

}

.preview-play {

}

.preview-pause {
}

.preview-forward {

}

@media screen and (min-height: 900px) and (max-height: 1080px) {
    .preview-player {
        height: 75% !important;
    }

    .preview-input-title {
        top: 2.5%;
    }
    
    .preview-start-rendering {
        top: 2.5%;
    }
}

@media screen and (max-height: 900px) {
    .preview-player {
        height: 70% !important;
    }

    .preview-input-title {
        top: 2.5%;
    }
    
    .preview-start-rendering {
        top: 2.5%;
    }

}

.preview-player {
    width: 90%;
    height: 70%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #000000;
}

.bottom-view {
    background-color: #044343;
    /* background-color: #B3BFB8; */
    flex: 1;
}

.bottom-scrollable {
    height: 100%;
    overflow-x: none;
}

.tooltip-duration {
    position: absolute;
    /* width: 150px;
    height: 50px; */
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    display: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dragging-item {
    position: absolute;
    touch-action: none;
}

.timeline {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    width: 100%;
    display: inline-flex;
}

#timeline-canvas {
    top: 50%;
    position: absolute;
}

.item-wrapper {
    display: inline-grid;
    padding: 5px;
    padding-bottom: 10px;
}

.item-title {
    text-align: center;
}

/*            item stylesheet              */

.item {
    position: relative;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    display: inline-block;
    height: 100px;
    min-width: 100px;
    background-color: white;
    cursor: pointer;
}

.timeline-item {
    position: relative;
    border: solid 1px #000;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #d9d9d9 16.67%, #000000 16.67%, #000000 33.33%, #fff 33.33%, #fff 50%, #d9d9d9 50%, #d9d9d9 66.67%, #000000 66.67%, #000000 83.33%, #fff 83.33%, #fff 100%);
    display: inline-block;
    height: 100px;
    min-width: 100px;
    animation: popwidth 0.5s;
    cursor: pointer;
}

#trim-modal {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: absolute;
    display: none;
}

#trim-modal:after {
    content: " ";
    background-color: #ccc;
    position: absolute;
    right: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    border-radius: 10px;
}

#trim-modal:before {
    content: " ";
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    border-radius: 10px;
}

#trim-modal-start-time {
    float: left;
    transform: translate(-15px, -25px);
}

#trim-modal-end-time {
    float: right;
    transform: translate(15px, -25px);
}

#trim-modal-done {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50px);
    bottom: 0;
    background-color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#context-menu {
	background-color:rgb(255, 255, 255);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	width:100px;
	display:none;
	position: absolute;
    animation: fadedown 0.2s;
    transition: fadedown 0.2s;
}
#context-menu td button {
    font-size: medium;
    width: 95px;
	padding:2px;
    background: none;
    border: none;
	padding-left:5px;
    text-align: left;
}

#context-menu td button:hover {
    width: 95px;
	padding:2px;
    cursor: pointer;
    background: #d3d3d3;
    border: none;
	padding-left:5px;
    text-align: left;
}

#last-section {
    border-bottom: 1px solid black;
}

video {
    object-fit: cover;
}

@keyframes disappear {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.1);
	}
}

@-moz-keyframes disappear {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.1);
	}
}

@-webkit-keyframes disappear {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.1);
	}
}


@-o-keyframes disappear {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.1);
	}
}

@keyframes unblur {
	from {
		backdrop-filter: blur(15px);
		
	}
	to {
		backdrop-filter: none;
	}
}

@-moz-keyframes unblur {
	from {
		backdrop-filter: blur(15px);
		
	}
	to {
		backdrop-filter: none;
	}
}

@-webkit-keyframes unblur {
	from {
		backdrop-filter: blur(15px);
		
	}
	to {
		backdrop-filter: none;
	}
}


@-o-keyframes unblur {
	from {
		backdrop-filter: blur(15px);
		
	}
	to {
		backdrop-filter: none;
	}
}


@keyframes fadedown {
    from { opacity: 0; transform: scaleY(0.1); }
    to   { opacity: 1; transform: scaleY(1); }
}

/* Firefox < 16 */
@-moz-keyframes fadedown {
    from { opacity: 0; transform: scaleY(0.1); }
    to   { opacity: 1; transform: scaleY(1); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadedown {
    from { opacity: 0; transform: scaleY(0.1); }
    to   { opacity: 1; transform: scaleY(1); }
}

/* Opera < 12.1 */
@-o-keyframes fadedown {
    from { opacity: 0; transform: scaleY(0.1); }
    to   { opacity: 1; transform: scaleY(1); }
}

@keyframes fadein {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}

@keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes popwidth {
    from { transform: scaleX(0.5); }
    to   { transform: scaleX(1); }
}

/* Firefox < 16 */
@-moz-keyframes popwidth {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes popwidth {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes popwidth {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes pickup {
    from { }
    to   { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); transform: scale(1.15); }
}

video::-webkit-media-controls {
    display: none;
}

/* .container{
    -js-display: flex;
    display: flex;
    flex-wrap: wrap;

  }
  .item{
    flex: 1 0 150px;
    height: 200px;
    background-color: #f0f;
    border:solid 1px #000;
    margin: 5px;
  }

  .content1 , .content3 , .content5{
    background-color: #ff0;
  } */



.btn {
    display: flex;
    background: #e4e4e4;
    border: 1px solid #575d60;
    font-size: xx-small;
    line-height:normal;
    font-weight: 500;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn--toggle {
    height: fit-content;
    padding: 2px;
    border-radius: 50px;
    overflow: hidden;
    letter-spacing: 0.5px;
    color: #1a1a1a;
}

.toggle-elm {
    padding: 8px 12px;
    position: relative;
    z-index: 1;
}

.toggle-active {
    color: #e4e4e4;
}

  
.toggling-layer {
    position: absolute;
    z-index: 0;
    background: #1a1a1a;
    border-radius: 50px;
    transition: 0.3s;
}

#timeline-playback-bar {
    pointer-events: none;
    position: absolute;
    content: "hello";
    background-color: #F48B29;
    width: 2px;
    height: 45vh;
    bottom: 5vh;
    left: 0;
}

.default-modal-content-before-download {
    display: grid;
    place-items: center;
}

.default-modal-content {
    display: grid;
    place-items: center;
    animation: appear 0.5s;
}

/*span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}*/
.container {
 /* width: 500px;
  margin: 50px auto 0;
  text-align: center*/
}

/*Styling Selectbox*/
.dropdown {
    border-radius: 10px !important;
    width: 85px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid white;
    transition: all .5s ease;
    position: relative;
    font-size: small;
    color: white;
    text-align: center;
    outline: none;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px;
    border-radius: 15px;
}
.dropdown:hover {

}
.dropdown:active {
    /*background-color: #f8f8f8*/
}
.dropdown.active:hover,
.dropdown.active {
    border: none;
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 1px;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    border: 1px solid white;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}
.dropdown .dropdown-menu li:hover {

}
.dropdown .dropdown-menu li:active {

}

.modal-wrapper-active {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
    animation: appear 0.5s;
}

.loading-wrapper-active a {
    background: #1a1a1a;
    border: none;
    color:#e4e4e4;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    width: max-content;
    font-weight: bolder;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: none;
}


.modal-wrapper {
    animation: appear 0.5s;
    transition: 1s;
    background-color: blue;
    display: none;
}

.modal {
    position: relative;
    width: 50%;
    height: 70%;
    background-color: #e4e4e4;
    transform: translate(50%, 20%);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    color: #1a1a1a;
}

.close-modal {
    padding: 15px;
    margin-top: 3%;
    margin-left: 1%;
}

#start-render {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background: #044343;
    border: none;
    color:#e4e4e4;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: not-allowed;
    transition: 0.5s;

}

.ldBar path.mainline {
    stroke-width: 10;
    stroke: #09f;
    stroke-linecap: round;
}

.ldBar path.baseline {
    stroke-width: 14;
    stroke: #f1f2f3;
    stroke-linecap: round;
    filter:url(#custom-shadow);
}

.loading-wrapper {
    display: none !important;
}

.loading-wrapper-active {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



#load-logs {
    text-align: center;
}

.modal-placeholder-img {
    /* width: 70%; */
    height: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal-title {
    position: absolute;
    top: 10%;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    font-size: x-large;
    width: max-content;
}